<div class="row control-box">
    <div class="table-responsive control-area">
        <table class="control-table caption-top">
            <caption class="control-caption">
                Asset Controls
            </caption>
            <tr>
                <td></td>
                <td align="center">
                    <button
                        id="action-btn-up"
                        type="button"
                        class="btn btn-lg btn-outline-dark kb-btn"
                        align="center"
                    >
                        <i class="fa fa-arrow-up"></i>
                    </button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="center">
                    <button
                        id="action-btn-left"
                        type="button"
                        class="btn btn-lg btn-outline-dark kb-btn"
                        align="center"
                    >
                        <i class="fa fa-arrow-left"></i>
                    </button>
                </td>
                <td align="center">
                    <button
                        id="action-btn-hold"
                        type="button"
                        class="btn btn-lg btn-outline-dark kb-btn"
                        align="center"
                    >
                        <i class="fa fa-hand-paper-o"></i>
                        <!-- <strong>Hold</strong> -->
                    </button>
                </td>
                <td align="center">
                    <button
                        id="action-btn-right"
                        type="button"
                        class="btn btn-lg btn-outline-dark kb-btn"
                        align="center"
                    >
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="center">
                    <button
                        id="action-btn-down"
                        type="button"
                        class="btn btn-lg btn-outline-dark kb-btn"
                        align="center"
                    >
                        <i class="fa fa-arrow-down"></i>
                    </button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" align="center">
                    <button
                        id="action-btn-cover"
                        type="button"
                        class="btn btn-lg btn-outline-dark kb-btn toggle-action-btn-cover"
                        align="center"
                    >
                        <i class="fa fa-hand-o-down"></i>
                        <span><strong>Cover</strong></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
