<div class="row control-box">
    <div class="table-responsive control-area">
        <table class="control-table caption-top">
            <caption class="control-caption">
                Demo Controls
            </caption>
            <tr>
                <td>
                    <button id="good-demo" class="btn btn-success">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        Good
                    </button>
                </td>
                <td>
                    <button id="bad-demo" class="btn btn-danger">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        Bad
                    </button>
                </td>
                <td>
                    <button id="restart-demo" class="btn btn-warning">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Restart
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
